{% extends 'base.html' %}


{% block body %}

<h1>FediSus<small> - trying to find suspect fediverse instances</small></h1>

<p><strong>Last update: {{last_update}}</strong></p>

<ul>
    <li>Number of known instances: {{stats.numinstances}}</li>
    <li>Number of instances scraped successfully: {{stats.numvalid}}</li>
    <li>Number of instances with MRF policies set: {{stats.nummrf}}</li>
    <li>Number of instances with MRF <i>reject</i> set: {{stats.numreject}}</li>
</ul>

<p>Please remember that this is data is scraped from a single source of instance-to-instance interactions: my instance.
    There are a lot more instances that don't show up because I'm just not in indirect contact with anyone on them.<br>
    I will work on trying to scrape a more complete image of the fediverse in the future. For now I sleep. <img style="max-height: 2em; max-width: 2em;" alt="pride" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAACuCAMAAAClZfCTAAAANlBMVEXv8+7t8Ozt7evmvtblr9PkrM/kqs7Yj7nReIzQY6bBW5q3VZLJUVjFTlTESk+NIQykAGGKHgTF+iWDAAABBUlEQVR42u3QyxWCQAAEsEH8o6L9N2sBHOa8b5MSki9FFChSpEiRIkWKUKRIkSJFihQpQpEiRYoUKVKkiGPRRqFIkSJFihQpUoQiRYoUKVKkSBGKFClSpEiRohmLnhR5UChSpEiRIkWKFKFIkSJFihQpUoQiRYoUKVKkaMaiG0WoThSKFClSpEiRIkUoUqRIkSJFihShSJEiRYrGK1ooslLkSpELhSJFihQpUqRIEYoUKVKkSJEiRShSpEiRovGKzhS5U+RDkTeFIkWKFClSpEgRihQpUqRIkSJFKFKkSJGi8YpeFNkp8qNQpEiRIkWKFClCkSJFihQpUqQIRYoUKVKkSNGE/hDrAJlIULMCAAAAAElFTkSuQmCC" />
</p>

<h2>MRF reject popularity:<br><small>Not showing instances that were blocked only once!</small></h2>
<p>This is also available in JSON: <a href="{{ url_for('rejects_json')}}">/rejects.json</a></p>
<p><small>Apparently its cool to hate on these guys (remember that instances may be blocked for legit and illegitimate reasons, cast your own judgement):</small></p>
<ul>
    {% for rp, n in reject_popularity.items() %}
    <li>{{rp}} - {{n}}x</li>
    {% endfor %}
</ul>

<h3>Instances with rejects:</h3>
<ul>
    {% for r in rejects %}
    {% set reject_list = r.MRF_Reject.split(', ') %}
    <li><strong>{{r.Address}}</strong> &rarr; <br>{% for rj in reject_list %}{{rj}}<br>{%endfor%}<br></li>
    {% endfor %}
</ul>

{% endblock %}