{% extends 'base.html' %}


{% block body %}

<h1>FediSus<small> - trying to find suspect fediverse instances</small></h1>

<p><strong>Last update: {{last_update}}</strong></p>

<p>Number of instances scraped successfully: {{stats.numinstances}}</p>
<p>Number of instances with MRF policies set: {{stats.nummrf}}</p>
<p>Number of instances with MRF <i>reject</i> set: {{stats.numreject}}</p>

<h2>MRF reject popularity:<br><small>Not showing instances that were blocked only once!</small></h2>
<p>This is also available in JSON: <a href="{{ url_for('rejects_json')}}">/rejects.json</a></p>
<p><small>Apparently its cool to hate on these guys (remember that instances may be blocked for legit and illegitimate reasons, cast your own judgement):</small></p>
<ul>
    {% for rp, n in reject_popularity.items() %}
    <li>{{rp}} - {{n}}x</li>
    {% endfor %}
</ul>

<h3>Instances with rejects:</h3>
<ul>
    {% for r in rejects %}
    {% set reject_list = r.MRF_Reject.split(', ') %}
    <li><strong>{{r.Address}}</strong> &rarr; <br>{% for rj in reject_list %}{{rj}}<br>{%endfor%}<br></li>
    {% endfor %}
</ul>

{% endblock %}